---
# Available tags for broadcast messages, popups and titles:
# - {MAXPLAYERS}: Show the maximum number of players supported by the server
# - {TOTALPLAYERS}: Show the number of all online players
# - {PREFIX}: Show prefix
# - {SUFFIX}: Show suffix
# - {TIME}: Show current time
# Available tags for /sendmessage, /sendpopup and /sendtitle format:
# - {MESSAGE}: Show message
# - {MAXPLAYERS}: Show the maximum number of players supported by the server
# - {TOTALPLAYERS}: Show the number of all online players
# - {PREFIX}: Show prefix
# - {PLAYER}: Message receiver
# - {SENDER}: Show sender name
# - {SUFFIX}: Show suffix
# - {TIME}: Show current time
# Extra tag for titles:
# - {SUBTITLE}: Add subtitle (the text after this tag will be the content of the subtitle) 
# Prefix
prefix: "&9[&eBroadcaster&9]"
# Suffix
suffix: "[A]"
# Date\Time format (replaced in {TIME}). For format codes read http://php.net/manual/en/datetime.formats.php
datetime-format: "H:i:s"
# Message broadcast
message-broadcast:
 # Enable message broadcast
 enabled: true
 # Broadcast interval (in seconds)
 time: 15
 # Command /sendmessage format
 command-format: "&e[{TIME}] {PREFIX} {SUFFIX} &a{SENDER}&e>&f {MESSAGE}"
 # Broadcast messages
 messages:
  - "&e[{TIME}] {PREFIX}&f 1st message"
  - "&e[{TIME}] {PREFIX}&f 2nd message"
  - "&e[{TIME}] {PREFIX}&f 3rd message"
# Popup broadcast
popup-broadcast:
 # Enable popup broadcast
 enabled: true
 # Popup broadcast interval (in seconds)
 time: 15
 # Popup duration (in seconds)
 duration: 5
 # Command /sendpopup format
 command-format: "&a{SENDER}&e>>&f {MESSAGE}"
 # Popup broadcast messages
 messages:
  - "&aWelcome to your server"
  - "&d{TOTALPLAYERS} &eof &d{MAXPLAYERS} &eonline"
  - "&bCurrent Time: &a{TIME}"
# Title broadcast
title-broadcast:
 # Enable title broadcast
 enabled: true
 # Title broadcast interval
 time: 30
 # Command /sendtitle format
 command-format: "&d{MESSAGE}"
 # Title broadcast messages
 messages:
  - "&aWelcome to your server!{SUBTITLE}&bGood game!"
  - "&eHello player!"
...